<H1>Data Science Tools and Ecosystem<H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:<strong>

* Python
* R
* SQL
* Java
* Julia

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scikit-Learn

|Data Science Tools|
|:---------------:|
|Apache Spark| 
|TensorFlow|
|Apache Hadoop|

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

This a simple arithmetic expression to mutiply then add integers

In [61]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [64]:
200/60

3.3333333333333335

<H2>Author<H2>

In [ ]:
Jimmy Warthon